<div class="col-10 offset-1 about">
  <h1>About Sol Ring Just 98 Cards To Go!</h1>
  <p>
    Sol Ring Just 98 Cards To Go! was built by  <a target="_blank" href="http://github.com/StephenMelnick">Stephen</a>. A web developer in training who is on a mission to learn the technical skills needed to turn his ideas into reality.
  </p>
  <br />
  <p>
    This is the first project of many in which he will utilize his training to build applications that are not only intresting and insightful but user friendly aswell.
  </p>
   <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'stephenandliliana.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Stephen Melnick</h2>
      <br />
      <p>
        Stephen Melnick is a web developer and student at University of Toronto School of Continuing Studies. He is a Father, Husband and future Developer! Having spent the first 30 years of his life in the Region of Durham located in Ontario he has now set off on a new adventure with his family in Simcoe County. After implementing and maintaining database with health records of over 45 000 unique clients. He has now joined U of T Coding Bootcamp to futher his knowledge and unlock his true potential!
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />